.loadingBackDrop{
    z-index: 100;
    opacity: 0.5;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingRing{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.loadingRing::after{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid grey;
    border-color: grey transparent grey transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }