@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
.btn{
  padding: 4px 16px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px !important;
  border: 0px !important;
  font-family: 'Nunito Sans' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #1D1F20;
}
.btn-primary{
  color: white;
  background: #01959F !important;
}
.btn-danger{
  color: white;
  background: #E11428 !important;
}
.icon-button{
  margin-right:6.5px !important;
  margin-bottom: 3px;
}
.btn-close{
  opacity: 1 !important;
}
